# Roavana.Kalender – alle Umgebungsvariablen

DATABASE_URL="postgresql://postgres.[ID]:[PW]@aws...supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.[ID]:[PW]@aws...supabase.com:5432/postgres"
NEXTAUTH_SECRET="openssl rand -base64 32"
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID="XXXXX.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="GOCSPX-XXXXX"
APPLE_ID="de.roavana.kalender.web"
APPLE_TEAM_ID="XXXXXXXXXX"
APPLE_PRIVATE_KEY_ID="XXXXXXXXXX"
APPLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nXXXXX\n-----END PRIVATE KEY-----"
RESEND_API_KEY="re_XXXXXXXXXX"
EMAIL_FROM="Roavana.Kalender <kalender@roavana.de>"
CRON_SECRET="openssl rand -hex 32"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# STRIPE
STRIPE_SECRET_KEY="sk_live_XXXXXXXXXX"
STRIPE_WEBHOOK_SECRET="whsec_XXXXXXXXXX"
STRIPE_PRICE_STARTER="price_XXXXXXXXXX"
STRIPE_PRICE_PRO="price_XXXXXXXXXX"
STRIPE_PRICE_BUSINESS="price_XXXXXXXXXX"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_live_XXXXXXXXXX"
